<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<display-name>CXF STS</display-name>
    <servlet>
        <servlet-name>sts</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <init-param>
            <param-name>config-location</param-name>
            <param-value>WEB-INF/cxf-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>sts</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!-- Below activates SSL if uncommented (servlet container will also need to be configured to support it)
         If using UsernameToken auth between WSC and STS, and don't wish to rely on CXF message-layer
         encryption for the UsernameToken credentials, SSL is an alternative.
         Note: regardless of method, good to use Wireshark or similar tool while testing to confirm
         credentials are being encrypted.
    -->
    <!--security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted web services</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint-->

</web-app>
