<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <listener>
       <listener-class>
          com.sun.xml.ws.transport.http.servlet.WSServletContextListener
       </listener-class>
    </listener>
    
    <servlet>
        <servlet-name>sts.DoubleItSTS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>com.sun.xml.ws.mex.server.MEXEndpoint</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>sts.DoubleItSTS</servlet-name>
        <url-pattern>/STS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.sun.xml.ws.mex.server.MEXEndpoint</servlet-name>
        <url-pattern>/STS/mex</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
